---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Xinghao Huang
  </div>
  <div class="inline opacity-75">
    Built with <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="font-bold">Astrofy Template</a> 
  </div>
</footer>
<style></style>
